body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(68, 66, 66, 0.2);
  /* box-shadow: 5px 1px 7px rgba(0,10, 10, 0.5); */
  padding: 0px 5%;
}

nav ul 
 {
  display: flex;
 }

 nav ul li a {
  margin: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
 }

 nav ul li a:hover {
  /* background-color: rgb(244, 94, 149); */
  color: #ffffff;
  border-radius:5px;
 }

 .logo {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 25px;
  font-weight:bold;
  /* color: black; */
  color: #000000;
 }

 .logo:hover {
  color: white;
 }

 #home {
  width: 100%;
  height: 700px;
  position: relative;
  background-image: url(img/bg.png);
 }

 .home {
  position: absolute;
  left: 10%;
  right: 10%;
  /* transform: translate(40%, 10%); */
  padding-top: 30px;
} 

 .home p {
  line-height: 0px;
  margin: 50px 0px 25px;
  text-align: center;
 }

 .home p:nth-child(1) {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgb(60, 60, 60);
  font-size: 20px;
 }

 .home p:nth-child(2) {
  font-family:lucida handwriting;
  font-weight: bold;
  color: #041159;
  font-size: 65px;
  letter-spacing: none;
  line-height: 30px;
  padding-top: 20px;
  /* transform: translate(-20%, 50%); */
 }

 .home p:nth-child(3) {
  font-family:cursive;
  font-weight: bold;
  color: #2c2c2c;
  font-size: 15px;
  padding-top: 30px;
 }

 .home p:nth-child(4) {
  font-family:cursive;
  font-weight: bold;
  color: #373737;
  font-size: 15px;
 }

 .home p:nth-child(5) {
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: #282727;
  font-size:15px;
 }

 .home p:nth-child(6) {
  /* background-color: #041159; */
  font-family:lucida handwriting;
  font-weight: bold;
  color: #a16703;
  font-size: 10px;
  padding-top: 35px;
  /* border-radius: 20%; */
 }
 


 /* .picture {
  width:250px;
  height: auto;
  position: absolute;
  left: 18%;
  top: 18%;
 } */


 /* #about {
  height: 700px;
  width: 100;
  background-color: #cecdcd;
 } */

 .about {
  /* text-align: center; */
  background-color: #e4e4fb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 1% 3% 10%;
 }

 .about-desc {
  margin: 50px 50px;
 }

 .about-desc p:nth-child(1) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #c8adad;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 10px;
 }

 .about-desc p:nth-child(2) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #c1a870;
  text-align: center;
 }

.row {
  margin: 30px;
  padding: 10px;
  display: flex;
}

.row .column h2 {
  text-align: center;
}

.row .column p {
  text-align: justify;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 450px;
}

.picture {
  width:300px;
  height: auto;
  position: absolute;
  /* left: 18%;
  top: 18%; */
  margin-left: 125px;
  margin-top: 25px;
}




