body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: aquamarine;
  box-shadow: 5px 1px 7px rgba(0,10, 10, 0.5);
  padding: 0px 5%;
}

nav ul 
 {
  display: flex;
 }

 nav ul li {
  margin: 30px;
 }

 nav ul li a {
  
 }